.itemList{
    display:inline-flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10% 0% 5% 0%;
    justify-content: space-around;
    background: $white-gray;
    text-align: center;
}

.item{
    margin: 8px;
    float: left;
    width: 300px;
    img{
        width: 100%;
        height: auto;
    }
    .iteminfo{
        background: $light-2-green;
        padding: 15px;
        text-align: center;
    }
}

div.item:hover {
    border: 1px solid $light-green;
}