.itemList{
    display:inline-flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 10%;
}

.item{
    text-align: center;
    width: 300px ;
    height: 400px ;
    img{
        width: 300px ;
        height:300px ;
    }
}