.itemList{
    display:inline-flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10% 0% 5% 0%;
    justify-content: space-around;
    background: $white-gray;
    text-align: center;
}

.item{
    margin: 8px;
    float: left;
    width: 300px;
    img{
        width: 100%;
        height: auto;
    }
    .iteminfo{
        background: $light-2-green;
        padding: 15px;
        text-align: center;
    }
    .stepper-input{
        display: flex;
        color: $gray-medium;
        max-width: 120px;
        margin: 0 auto;
        .increment, .decrement{
            height: 30px;
            width: 30px;
            text-align: center;
            color: inherit;
            font-size: 30px;
            line-height: 22px;
            &:hover{
                color: pink;
                border-color: pink;
                background: $light-2-green;

            }
            &:active{
                color: $light-2-green;
                border-color: pink;
                background: lighten(pink, 15%);
            }
        }
        .quantity{
            height: 24px;
            width: 48px;
            text-align: center;
            margin: 0 12px;
            border-radius: 3px;
            border: 1px solid $gray-eighty;
            &:focus{
                outline: none;
                border-color: $primary-green;
            }
        }
    }

}

div.item:hover {
    border: 1px solid $light-green;
}